#aboutRoot {
  background-color: lightgreen;
}
.centerAlignedText {
  text-align: center;
}
.endAlignedText {
  text-align: end;
}

/* Fonts */
.extra-large-Pacifico {
  font-family: "Pacifico", cursive;
  font-size: calc(100px + 200%);
}
.extra-large-Cabin {
  font-size: calc(50px + 100%);
  font-family: "Cabin", sans-serif;
}
.Cabin {
  font-family: "Cabin", sans-serif;
}
