#homeroot {
  background-color: black;
  height: 100vh;
  /* min-height: 100vh; */

  width: 100vw;
  min-width: 350px;
  padding-top: 5vh;

  transition-timing-function: cubic-bezier(0.12, 0.8, 0.65, 0.28);
  -webkit-transition: background-color 1s, opacity 0.1s; /* Safari prior 6.1 */
  transition: background-color 1s, opacity 0.1s;

  cursor: url("dot.png"), progress;
}

.row-division {
  height: 30vh;
  padding: 5vh;
}
.footer-row {
  color: #7f7f7f;
  padding-top: 2vh;
  height: 3vh;
  font-size: 10px;
}

.extra-large-PressStart {
  font-family: "Press Start 2P", sans-serif;
  font-size: calc(40px + 100%);
}
.PressStart {
  font-family: "Press Start 2P", sans-serif;
}

.buttonText {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  -webkit-transition: background-color 0.2s; /* Safari prior 6.1 */
  transition: background-color 0.2s;
  cursor: none;
}
.buttonText:hover {
  background-color: rgba(228, 228, 228, 0.5);
}
