#marioRoot {
  /* background-image: "assets/MarioBackground"; */
  background-color: #9090fe;
  height: 100%;
  width: 100%;
  padding: 0%;
  position: relative;
}
#blockRegion {
  /* background-color: beige; */
  background-image: url(./pow_1.png);
  background-repeat: no-repeat;
  background-size: 37px;
  /* transform: scaleX(-1); */
  left: 50%;
  height: 50px;
  width: 50px;
  bottom: calc(50% + 40px) !important;
  margin-bottom: 0%;
  position: absolute;
}
#playerRegion {
}
#marioPlayer {
  background-image: url(./marioChar.png);
  background-repeat: no-repeat;
  background-size: 37px;
  /* transform: scaleX(-1); */
  height: 50px;
  width: 50px;
  bottom: 20%;
  margin-bottom: 0%;
  position: absolute;
}
#groundRegion {
  position: absolute;
  background-color: darkolivegreen;
  background-image: url(./ground.png);
  bottom: 0%;
  margin-bottom: 0%;
  width: 100%;
  height: 20%;
}

/* result modal */

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* end */
