#projectRoot {
  min-height: 300px;
  min-width: 1100px;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
#gameArea {
  height: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: black;
}
#instructionArea {
  height: 20%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0px;
  background-color: black;
}
.extra-large-PressStart {
  font-family: "Press Start 2P", sans-serif;
  font-size: calc(40px + 100%);
}
.PressStart {
  font-family: "Press Start 2P", sans-serif;
}
.extra-large-Pacifico {
  font-family: "Pacifico", cursive;
  font-size: calc(100px + 200%);
}
.extra-large-Cabin {
  font-size: calc(50px + 100%);
  font-family: "Cabin", sans-serif;
}
.Cabin {
  font-family: "Cabin", sans-serif;
}

.blinking {
  animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
  0% {
    color: RGBA(96, 253, 74, 0.3);
  }

  50% {
    color: RGBA(96, 253, 74, 0);
  }

  100% {
    color: RGBA(96, 253, 74, 0.3);
  }
}
